# Dependencies
node_modules/

# Build outputs
.next/
dist/
out/

# Environment variables
.env*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-error.log*

# OS generated
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Firebase
.firebase/
src/lib/firebase/service-account.json

# Local files
*.local
*.bundle
